/* Preloader start */
/* Preloader styles */
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Background color of preloader */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above other content */
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid;
  border-radius: 50%;
  border-width: 5px;
  border-image-source: linear-gradient(135deg, rgb(13, 92, 117) 0%, rgb(25, 159, 177) 50%, rgb(165, 209, 225) 100%); /* Spinner color */
  border-top-color: #ffffff; /* Change this to match your design */
  animation: spin 1s ease-in-out infinite; /* Spinner animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Text styles */
.preloader p {
  margin-top: 30px; /* Adjust spacing between spinner and text */
  font-size: 2rem; /* Adjust font size of the text */
  color: #ffffff; /* Text color */
  animation: pulse 1s ease-in-out infinite; /* Spinner animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* Preloader end */
/***HEADER START***/
.brand_name,
.my_img {
  font-weight: 600;
  z-index: 2;
  position: relative;
  color: #2F2C38;
  text-decoration: none;
}

.header_navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
}

.header_navigation.sticky {
  position: fixed;
  background-color: #ffffff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  transition: background-color 500ms ease-in-out;
  z-index: 9999;
}

.branding {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.my_img img {
  height: 50px;
  border-radius: 50%;
  aspect-ratio: 1;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.primary_navigation {
  display: flex;
  gap: clamp(1rem, 4vw, 4rem);
}
.primary_navigation li {
  list-style: none;
  position: relative;
}
.primary_navigation li a {
  text-decoration: none;
  color: #2F2C38;
  text-transform: uppercase;
  font-weight: 600;
}

.primary_navigation li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  background-color: #3dc4d3;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 250ms ease-in;
  transform-origin: right;
}

.primary_navigation li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/**Hamburger-menu**/
#hamburger-wrapper {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  display: none;
}

.burger {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.burger,
.burger:before,
.burger:after {
  padding: 0;
  background-color: #2F2C38;
  width: 80%;
  height: 3px;
  transition: margin 0.1s 0.2s, transform 0.2s;
}

.burger:before,
.burger:after {
  margin: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.burger:before {
  margin-top: -12px;
}

.burger:after {
  margin-top: 12px;
}

/* STYLES FOR OUR BURGER WHEN THE MENU OPENS */
.open .burger {
  transform: rotate(45deg);
}

.open .burger,
.open .burger:before,
.open .burger:after {
  transition: margin 0.2s, transform 0.1s 0.2s;
}

.open .burger:before,
.open .burger:after {
  margin-top: 0;
}

.open .burger:after {
  transform: rotate(-90deg);
}

/**Hamburger-menu ends**/
@media (max-width: 800px) {
  .brand_name {
    display: none;
  }
  .primary_navigation {
    position: fixed;
    inset: 0 0 0 0%;
    flex-direction: column;
    padding: min(20vh, 10rem) 2rem;
    background: hsla(0, 0%, 0%, 0.5);
    gap: 2em;
    z-index: 1000;
    transform: translateX(100%);
    align-items: center;
  }
  .primary_navigation li {
    display: block;
    text-align: center;
    padding: 1rem 0;
    transition: 250ms ease-in;
    width: 100%;
  }
  .primary_navigation li:hover {
    background-color: #2F2C38;
    transition: 250ms ease-in;
    cursor: pointer;
  }
  .primary_navigation li:hover a {
    color: #F3EFDB;
  }
  .primary_navigation li a::before {
    height: 0;
  }
  .primary_navigation[data-visible=true] {
    transform: translateX(0%);
    transition: transform 350ms ease-out;
  }
  #hamburger-wrapper {
    z-index: 9999;
    display: flex;
  }
  @supports (backdrop-filter: blur(1rem)) {
    .primary_navigation {
      background: hsla(0, 0%, 100%, 0.1);
      backdrop-filter: blur(1rem);
    }
  }
}
/***HEADER END***/
#landing_page {
  position: relative;
  isolation: isolate;
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
}

#download_resume {
  text-decoration: none;
  color: #2F2C38;
  padding: 1rem 0.8rem;
  border-radius: 30px;
  background-color: #F3EFDB;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  background-color: #2F2C38;
  color: #F3EFDB;
  width: unset;
  border-radius: 0;
  margin-top: 0.5rem;
}

#download_resume:hover {
  background-color: #3dc4d3;
  color: #2F2C38;
  transition: background-color 250ms ease-in;
}

.banner_name {
  text-transform: uppercase;
}

.banner_name > span:nth-child(1) {
  animation: bounce 800ms 5 2000ms ease-in;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.banner_name > span:hover, .banner_role > span:hover {
  transform: translateY(-20px);
  transition: transform 300ms;
  color: #3dc4d3;
}

h1 {
  margin: 0 auto;
  top: 200px;
  text-align: center;
}

.sticky-social {
  position: fixed;
  top: 150px;
  left: -36px;
  padding: 0px;
  margin: 0px;
}

@media (min-width: 600px) {
  .sticky-social {
    left: 0px;
  }
  .social li:hover {
    margin-right: -20px;
  }
  .social li:hover .fa {
    margin-left: 20px;
  }
}
.social {
  list-style: none;
}

.social li {
  padding: 10px 10px;
  font-size: 25px;
  transition: all 0.8s ease-in-out;
}

.social li:hover {
  margin-right: -30px;
  box-shadow: 2px 5px 10px grey;
}

.social li:hover .fa {
  margin-left: 30px;
}

.fa {
  color: #fff;
  transition: all 0.8s ease-in-out;
}

.linkedinn {
  background-color: #0a66c2;
}

.githubb {
  background-color: #6e5494;
}

.instaa {
  background-color: #c32aa3;
}

.banner_heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_name {
  font-size: 3rem;
}

#about_page {
  background-color: #2F2C38;
  padding: 2rem 0;
  color: #F3EFDB;
}

#about_page > * {
  max-width: 80%;
  margin: 0 auto;
}

.why_me_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "description" "img";
  gap: 2rem;
  padding: 2rem 0 0 0;
}

@media screen and (min-width: 700px) {
  .why_me_section {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "description img";
  }
}
#why_me_heading {
  text-align: center;
}

.description {
  grid-area: description;
  line-height: 2rem;
}

.why_me_img {
  grid-area: img;
}

.why_me_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  align-items: baseline;
}

.skill {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  width: 20%;
}

.skill_logo {
  width: 2rem;
  text-align: center;
}

.skill_logo:hover {
  animation: bounce2 1s ease-in infinite;
}

@keyframes bounce2 {
  30% {
    transform: scale(1.5);
  }
  40%, 60% {
    transform: rotate(-20deg) scale(1.5);
  }
  50% {
    transform: rotate(20deg) scale(1.5);
  }
  70% {
    transform: rotate(0deg) scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.skill_name {
  font-weight: 600;
}

#experience_page {
  padding: 2rem 0;
  background-color: #F3EFDB;
  color: #2F2C38;
}

#experience_page > * {
  max-width: 80%;
  margin: 0 auto;
}

.text_center {
  text-align: center;
}

.experience_buttons {
  margin: 2rem 0;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.experience_buttons > a {
  position: relative;
}

.buttons {
  text-decoration: none;
  margin: 2rem 0;
  padding: 1rem 1rem;
  color: #2F2C38;
}

.buttons::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  background-color: #896464;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 250ms ease-in;
}

.buttons.active::after {
  transform: scaleX(1);
  transform-origin: center;
}

.buttons.active {
  font-weight: 600;
  color: #896464;
}

.professional {
  display: grid;
  padding: 2rem 0;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas: "ase" "graduate_internship" "fountane_internship";
  row-gap: 1rem;
  position: relative;
}

.company_accenture {
  color: #A100FF;
}

.company_conestoga {
  color: #bf9c66;
}

.company_fountane {
  color: rgb(8, 135, 255);
}

.ase {
  grid-area: ase;
  position: relative;
}

.graduate_internship {
  grid-area: graduate_internship;
}

.fountane_internship {
  grid-area: fountane_internship;
}

.exp_logo {
  display: none;
}

@media screen and (min-width: 700px) {
  .exp_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exp_logos {
    width: 50%;
  }
  .accenture_image > img {
    grid-area: accenture_image;
  }
  .accenture_image2 > img {
    grid-area: accenture_image2;
  }
  .fountane_image > img {
    grid-area: fountane_image;
  }
  .professional {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    grid-template-areas: "ase accenture_image" "accenture_image2 graduate_internship" "fountane_internship fountane_image";
    transition: all 1s;
  }
}
.additional {
  display: none;
  padding: 2rem 0;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas: "board_of_governors" "leadership_assistant" "fitness" "student_ambassador";
  row-gap: 1rem;
  transition: all 1s;
  position: relative;
}

.board_of_governors {
  grid-area: board_of_governors;
}

.leadership_assistant {
  grid-area: leadership_assistant;
}

.fitness {
  grid-area: fitness;
}

.student_ambassador {
  grid-area: student_ambassador;
}

@media screen and (min-width: 700px) {
  .conestoga_image > img {
    grid-area: conestoga_image;
  }
  .conestoga_image2 > img {
    grid-area: conestoga_image2;
  }
  .conestoga_image3 > img {
    grid-area: conestoga_image3;
  }
  .csi_image > img {
    grid-area: csi_image;
  }
  .additional {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "board_of_governors conestoga_image" "csi_image leadership_assistant" "fitness conestoga_image2" "conestoga_image3 student_ambassador";
    gap: 5rem;
  }
}
.work_experience_section ul {
  line-height: 1.5rem;
  padding-top: 1rem;
}

.work_experience_section h4 {
  padding-top: 0.3rem;
}

#projects_page {
  padding: 2rem 0;
  background-color: #2F2C38;
  color: #F3EFDB;
}

.projects {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project_name, .project_description {
  max-width: 80%;
}

.overlay {
  padding: 2rem 0;
  opacity: 0;
  transform: scale(0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
  aspect-ratio: 1;
}

.overlay:hover {
  background: hsla(0, 0%, 9%, 0.7);
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
  transition: transform 250ms ease-in;
}

.project_1 {
  text-decoration: none;
  color: #F3EFDB;
}

.project_1:hover {
  transform: scale(1.3);
  transition: transform 500ms ease-in-out;
}

.project_2 {
  text-decoration: none;
  color: #F3EFDB;
}

.project_2:hover {
  transform: scale(1.3);
  transition: transform 500ms ease-in-out;
}

.project_3 {
  text-decoration: none;
  color: #F3EFDB;
}

.project_3:hover {
  transform: scale(1.3);
  transition: transform 500ms ease-in-out;
}

.project_4 {
  text-decoration: none;
  color: #F3EFDB;
}

.project_4:hover {
  transform: scale(1.3);
  transition: transform 500ms ease-in-out;
}

.project_5 {
  text-decoration: none;
  color: #F3EFDB;
}

.project_5:hover {
  transform: scale(1.3);
  transition: transform 500ms ease-in-out;
}

.project_6 {
  text-decoration: none;
  color: #F3EFDB;
}

.project_6:hover {
  transform: scale(1.3);
  transition: transform 500ms ease-in-out;
}

.project_7 {
  text-decoration: none;
  color: #F3EFDB;
}

.project_7:hover {
  transform: scale(1.3);
  transition: transform 500ms ease-in-out;
}

.project_8 {
  text-decoration: none;
  color: #F3EFDB;
}

.project_8:hover {
  transform: scale(1.3);
  transition: transform 500ms ease-in-out;
}

.project_1 {
  background: url(../assets/projects/fit+.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project_2 {
  background: url(../assets/projects/news_homepage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project_3 {
  background: url(../assets/projects/ping.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project_4 {
  background: url(../assets/projects/base_apparel.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project_5 {
  background: url(../assets/projects/four_card.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project_6 {
  background: url(../assets/projects/huddle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project_7 {
  background: url(../assets/projects/time.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project_8 {
  background: url(../assets/projects/age.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#contact_me_page {
  width: 80%;
  margin: 0 auto;
}

.contact_form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas: "image" "form";
  padding: 2rem 0;
}

@media (min-width: 700px) {
  .contact_form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image form";
  }
}
.contact_image_side {
  grid-area: image;
  background-color: #333;
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

form {
  grid-area: form;
  padding: 20px;
  background: #ffffff;
  color: #2F2C38;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
}

textarea {
  border: 1px solid #ddd;
}

#name, #email, #message {
  color: #3dc4d3;
  font-weight: 600;
}

#name:focus, #email:focus, #message:focus {
  border-bottom-color: #3dc4d3;
}

textarea {
  resize: none;
  height: 100px;
}

.email_div {
  width: 75%;
  margin: 0 auto;
}

input[type=submit] {
  width: 100%;
  margin: 0 auto;
  background-color: #F3EFDB;
  color: #2F2C38;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

input[type=submit]:hover {
  color: #F3EFDB;
  background-color: #9E8681;
  transition: 250ms ease-in;
}

.contact_image_side h3 {
  color: #F3EFDB;
  font-size: 2rem;
}
.contact_image_side ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "git" "insta" "linkedin";
  align-items: center;
}
.contact_image_side ul li {
  list-style: none;
  padding: 1rem 0;
}
.contact_image_side ul li a {
  text-decoration: none;
  color: #F3EFDB;
  transition: 0.5s;
}
.contact_image_side .git {
  grid-area: git;
}
.contact_image_side .insta {
  grid-area: insta;
}
.contact_image_side .linked {
  grid-area: linkedin;
}
.contact_image_side .social_media {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}
.contact_image_side .github:hover {
  color: #6e5494;
}
.contact_image_side .github:hover span {
  background: #6e5494;
}
.contact_image_side .instagram:hover {
  color: #c32aa3;
}
.contact_image_side .instagram:hover span {
  background: #c32aa3;
}
.contact_image_side .linkedin:hover {
  color: #0a66c2;
}
.contact_image_side .linkedin:hover span {
  background: #0a66c2;
}
.contact_image_side ul li a .github {
  color: #6e5494;
}
.contact_image_side ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
.contact_image_side ul li a:hover:nth-child(4) {
  color: #dd4b39;
}

#downloadLink {
  text-decoration: none;
  color: #2F2C38;
  padding: 1rem 0.8rem;
  border-radius: 30px;
  background-color: #F3EFDB;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
}

#downloadLink:hover {
  background-color: #3dc4d3;
  color: #2F2C38;
  transition: 500ms ease-in-out;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Electrolize", "Ubuntu", sans-serif;
  color: #2F2C38;
  overflow-x: hidden;
  background-color: #F3EFDB;
}

.heading_animate {
  font-size: 2em;
}

/***MAIN Start***/
.scroll_watcher {
  position: fixed;
  height: 5px;
  background-color: #896464;
  top: 0;
  z-index: 9999;
  width: 100%;
  scale: 0 1;
  animation: scroll_watcher linear;
  transform-origin: left;
  animation-timeline: scroll();
}

@keyframes scroll_watcher {
  to {
    scale: 1 1;
  }
}
.highlight_word {
  color: #3dc4d3;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

footer {
  padding: 0 0 2rem 0;
}

::-webkit-scrollbar {
  width: 12px;
  display: none;
}

.svg_test {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
