#experience_page {
    padding: 2rem 0;
    background-color: $light_shade;
    color: $dark_shade;
}

#experience_page > * {
    @include center_content;
}

.text_center {
    text-align: center;
}

.experience_buttons {
    margin: 2rem 0;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.experience_buttons > a {
    position: relative;
}

.buttons {
    text-decoration: none;
    margin: 2rem 0;
    padding: 1rem 1rem;
    color: $dark_shade;
}

.buttons::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: $brand;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 250ms ease-in;
}

.buttons.active::after {
    transform: scaleX(1);
    transform-origin: center;
}

.buttons.active {
    font-weight: 600;
    color: $brand;
}

.professional {
    display: grid;
    padding: 2rem 0;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-template-areas:
        "ase"
        "graduate_internship"
        "fountane_internship";
    row-gap: 1rem;
    position: relative;
    // transition: all 1s;
}

.company_accenture {
    color: $accenture;
}

.company_conestoga {
    color: $conestoga;
}

.company_fountane {
    color: $fountane;
}

.ase {
    grid-area: ase;
    position: relative;
    // border-right: 2px solid gray;
}

.graduate_internship {
    grid-area: graduate_internship;
}

.fountane_internship {
    grid-area: fountane_internship;
}

.exp_logo {
    display: none;
}


@media screen and (min-width: 700px) {
    .exp_logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .exp_logos {
        width: 50%;
    }
    
    .accenture_image > img {
        grid-area: accenture_image;
    }

    .accenture_image2 > img {
        grid-area: accenture_image2;
    }

    .fountane_image > img {
        grid-area: fountane_image;
    }
    
    .professional {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        grid-template-areas:
        "ase accenture_image"
        "accenture_image2 graduate_internship"
        "fountane_internship fountane_image";
        transition: all 1s;
    }

}

.additional {
    display: none;
    padding: 2rem 0;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-template-areas:
        "board_of_governors"
        "leadership_assistant"
        "fitness"
        "student_ambassador";
    row-gap: 1rem;
    transition: all 1s;
    position: relative;
}

.board_of_governors
{
    grid-area: board_of_governors;
}

.leadership_assistant
{
    grid-area: leadership_assistant;
}

.fitness
{
    grid-area: fitness;
}

.student_ambassador
{
    grid-area: student_ambassador;
}

@media screen and (min-width:700px) {

    .conestoga_image > img {
        grid-area: conestoga_image;
    }

    .conestoga_image2 > img {
        grid-area: conestoga_image2;
    }

    .conestoga_image3 > img {
        grid-area: conestoga_image3;
    }

    .csi_image > img {
        grid-area: csi_image;
    }

    .additional {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "board_of_governors conestoga_image"
        "csi_image leadership_assistant"
        "fitness conestoga_image2"
        "conestoga_image3 student_ambassador";
        gap: 5rem;
    }
}

.work_experience_section ul
{
    line-height: 1.5rem;
    padding-top: 1rem;
}

.work_experience_section h4
{
    padding-top: .3rem;
}

