#landing_page {
    padding: 8rem 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    isolation: isolate;

    min-height: 60vh;
    // border-bottom: 2px solid;
}

.shape_bg {
  position: absolute;
  top: 50px;
  inset: 0;
  background-color: $brand;
  height: 200px;
  width: 200px;
}

.banner_name {
  text-transform: uppercase;
}

.letter:hover {
  transform: translateY(-20px);
  transition: transform 300ms;
  color: $dark_accent;
}

.absolute { 
  position: absolute;
  top: 50px;
  inset: 0;
  justify-content: space-between;
  display: inline-flex;
  z-index: -1;
  flex-direction: row;
}

.justify-center {
  // justify-content: center;
}

.bg-shape1 {
  @include bg_shape;
  animation: one 4s infinite;
}

.bg-shape2 {
@include bg_shape;
  animation: one 4s infinite;
}

.bg-shape3 {
  @include bg_shape;
  animation: one 4s infinite;
}

@keyframes one {
  0% { 
    transform: rotate(0deg)  
          translateX(100px) rotate(0deg); 
} 

100% { 
    transform: rotate(360deg)  
          translateX(100px) rotate(-360deg); 
} 
}

.opacity-50 {
  opacity: .5;
}

.bg-blur {
  filter: blur(90px);
}

.bg-primary {
  background-color: $dark_accent;
}

.bg-teal {
  background-color: $accenture;
}

.bg-purple {
  background-color:  $brand;
}

h1 {
  margin: 0 auto;
  top: 200px;
  text-align: center;
}


.sticky-social{
    position:fixed;
    top:150px;
    left:0px;
    padding:0px;
    margin:0px;
  }
  .social{
    list-style:none;
  }
  .social li{
    padding:10px 10px;
    font-size:25px;
    transition:all 0.8s ease-in-out;
  }
  .social li:hover{
      margin-right:-30px;
   box-shadow:2px 5px 10px grey;
  }
  .social li:hover .fa{
      margin-left:20px;
    
  }
  .fa{
    color:#fff;
    transition:all 0.8s ease-in-out;
  }
  .linkedinn{
    background-color:#0a66c2;
  }
  .githubb{
      background-color:#6e5494;
  }
  .instaa{
      background-color:#c32aa3;
  }

// section .animate {
//     transition: 1s;
// }

.banner_heading {
    @include flex_items_center;
    justify-content: center;
}

.banner_name {
    font-size: 3rem;
}

// .tilt_1 {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     overflow: hidden;
//     line-height: 0;
// }

// .tilt_1 svg {
//     position: relative;
//     display: block;
//     width: calc(100% + 1.3px);
//     height: 150px;
// }

// #landing_page::after {
//     content: '';
//     position: absolute;
//     background: linear-gradient(
//         135deg,
//         rgba(13, 92, 117, 1) 0%,
//         rgba(25, 159, 177, 1) 50%,
//         rgba(165, 209, 225, 1) 100%
//     );
//         inset: 0;
//     transform: skewY(5deg) translateY(60px);

//     z-index: -1;
// }

//Landing page ends
