#landing_page {
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    position: relative;
    isolation: isolate;
    min-height: 60vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
}

#download_resume {
  @include download_button;
  background-color: $dark_shade;
  color: $light_shade;
  width: unset;
  border-radius: 0;
  margin-top: .5rem;
}

#download_resume:hover {
  background-color: $dark_accent;
  color: $dark_shade;
  transition: background-color 250ms ease-in;
}

.banner_name {
  text-transform: uppercase;
}

.banner_name>span:nth-child(1) {
  animation: bounce 800ms 5 2000ms ease-in;
}


@keyframes bounce {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-20px);}
  100% {transform: translateY(0px);}
}

.banner_name>span:hover, .banner_role>span:hover {
  transform: translateY(-20px);
  transition: transform 300ms;
  color: $dark_accent;
}


// .shape_bg {
//   position: absolute;
//   top: 50px;
//   inset: 0;
//   background-color: $brand;
//   height: 200px;
//   width: 200px;
// }

// .absolute { 
//   position: absolute;
//   top: 50px;
//   inset: 0;
//   justify-content: space-between;
//   display: inline-flex;
//   z-index: -1;
//   flex-direction: row;
// }

// .bg-shape1 {
//   @include bg_shape;
//   animation: one 4s infinite;
// }

// .bg-shape2 {
// @include bg_shape;
//   animation: one 4s infinite;
// }

// .bg-shape3 {
//   @include bg_shape;
//   animation: one 4s infinite;
// }

// @keyframes one {
//   0% { 
//     transform: rotate(0deg)  
//           translateX(100px) rotate(0deg); 
// } 

// 100% { 
//     transform: rotate(360deg)  
//           translateX(100px) rotate(-360deg); 
// } 
// }

// .opacity-50 {
//   opacity: .5;
// }

// .bg-blur {
//   filter: blur(90px);
// }

// .bg-primary {
//   background-color: $dark_accent;
// }

// .bg-teal {
//   background-color: $accenture;
// }

// .bg-purple {
//   background-color:  $brand;
// }

h1 {
  margin: 0 auto;
  top: 200px;
  text-align: center;
}


.sticky-social{
    position:fixed;
    top:150px;
    left:-36px;
    padding:0px;
    margin:0px;
  }

  @media (min-width: 600px) {
    .sticky-social {
      left: 0px;
    }
    .social li:hover{
      margin-right:-20px;
    }
    .social li:hover .fa{
      margin-left:20px;
    
  }
  }
  .social{
    list-style:none;
  }
  .social li{
    padding:10px 10px;
    font-size:25px;
    transition:all 0.8s ease-in-out;
  }
  .social li:hover{
      margin-right:-30px;
   box-shadow:2px 5px 10px grey;
  }
  .social li:hover .fa{
      margin-left:30px;
    
  }
  .fa{
    color:#fff;
    transition:all 0.8s ease-in-out;
  }
  .linkedinn{
    background-color:#0a66c2;
  }
  .githubb{
      background-color:#6e5494;
  }
  .instaa{
      background-color:#c32aa3;
  }

.banner_heading {
    @include flex_items_center;
    justify-content: center;
}

.banner_name {
    font-size: 3rem;
}

//Landing page ends
